<div>
  <h2 id="page-heading" data-cy="PetHeading">
    <span appTranslate="petclinicApp.pet.home.title">Pets</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span appTranslate="petclinicApp.pet.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-pet"
        [routerLink]="['/pet/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span appTranslate="petclinicApp.pet.home.createLabel"> Create a new Pet </span>
      </button>
    </div>
  </h2>

  <app-alert-error></app-alert-error>

  <app-alert></app-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="pets?.length === 0">
    <span appTranslate="petclinicApp.pet.home.notFound">No pets found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="pets && pets.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr appSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" appSortBy="id"><span appTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" appSortBy="name"><span appTranslate="petclinicApp.pet.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" appSortBy="birthDate">
            <span appTranslate="petclinicApp.pet.birthDate">Birth Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" appSortBy="owner.firstName">
            <span appTranslate="petclinicApp.pet.owner">Owner</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" appSortBy="type.name"><span appTranslate="petclinicApp.pet.type">Type</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pet of pets; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/pet', pet.id, 'view']">{{ pet.id }}</a>
          </td>
          <td>{{ pet.name }}</td>
          <td>{{ pet.birthDate | formatMediumDate }}</td>
          <td>
            <div *ngIf="pet.owner">
              <a [routerLink]="['/owner', pet.owner?.id, 'view']">{{ pet.owner?.firstName }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="pet.type">
              <a [routerLink]="['/type', pet.type?.id, 'view']">{{ pet.type?.name }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/pet', pet.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" appTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/pet', pet.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" appTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(pet)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" appTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="pets && pets.length > 0">
    <div class="row justify-content-center">
      <app-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></app-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
