<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="specialtie">
      <h2 data-cy="specialtieDetailsHeading"><span appTranslate="petclinicApp.specialtie.detail.title">Specialtie</span></h2>

      <hr />

      <app-alert-error></app-alert-error>

      <app-alert></app-alert>

      <dl class="row-md jh-entity-details">
        <dt><span appTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ specialtie.id }}</span>
        </dd>
        <dt><span appTranslate="petclinicApp.specialtie.name">Name</span></dt>
        <dd>
          <span>{{ specialtie.name }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span appTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/specialtie', specialtie.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span appTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
